@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:wght@100;400&display=swap');


//cajas fonts
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Poppins', sans-serif;

//sizes
$textSm: 1.5rem;
$textMs: 2rem;
$textLg: 3rem;

