//anidacion 

h1 {
    font-weight: bolder;
    font-size: size(2.5);
    padding-left: 100px;
}

h2 {
    font-family: Roboto;
    font-size: size(1.5);
    padding-left: 50px;
}

h3 {
    font-family: 'Poppins', Roboto;
    font-size: size(2);
    padding-left: 200px;
}