<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/logoapolo.png">
    <title>APOLO Dx </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        <!--link referencia a estilo del menu-->
        <link rel="stylesheet" href="/scss/main.scss" />
        </head>



<body>
<!--Barra de navegacion-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/views/index.html">
            <img src="/img/logoapolo.png" alt="60" width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/views/productos.html">Productos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/plataforma.html">Plataforma</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/views/contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--inicio de la pagina-->
    <main class="container">
        <div class="inicio-index">
            <div class="card text-center text-black border-light">
                <img src="/img/imageninicio2.png" class="img-fluid1" max-width=100% height="auto">
                <div class="card-img-overlay">
                    <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                    <h1 class="card-title">Todos los productos financieros en un mismo lugar</h1>
                    </div>
                    <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                    <p class="card-text">APOLO dx es una plataforma hecha por financieros para financieros, ayuda a tu cliente a encontrar los mejores productos
                    financieros.</p>
                    <div>
                        VENDE MÁS, GANA MÁS.
                    </div>
                    
                    </div>
                </div>
            </div>
            </div>

<!--inicio de funcionamiento de la pagina-->

<div class="row">

<!--Columna izquieda-->
            <div class="col-12 col-lg-4">
                <img src="../img/personas1.jpg" alt="utilizando la plataforma" class="img-fluid" max-width=100% height=auto>
            </div>

<!--Columna derecha-->

            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <h3>
                            Funcionamiento de la plataforma
                        </h3>
                        <p>
                            Una plataforma segura, rápida y de fácil acceso, permitiendore encontrar el crédito ideal.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-12 col-lg-6">
                        <li>CREAR UNA CUENTA</li>
                        <p>No importa si eres intermediario, broker, distribuidor o cliente, crea tu cuenta para tener acceso a todos los creéditos que se ofrecen en el mercado.</p>
                        <li>CONTESTAR EL PERFILADOR</li>
                        <P>Nuestro sistema detectara tu perfil de cliente y te dara de manera personalizada todos los productos fiancieros elegidos especialmente para tu empresa.</P>
                    </div>
                    <div class="col-6 col-sm-12 col-lg-6">
                        <li>RECIBIRAS UNA LLAMADA</li>
                        <p>Uno de nuestros asesores se pondrá en contacto contigo para contestar todas tus dudas de manera personalizada.</p>
                        <li>SUBIR INFORMACIÓN</li>
                        <p>Sube la información de tu empresa y obten en tiempo record tu crédito. Sin importar el monto, sin importar el lugar, sin importar tu historia. Tenemos el crédito ideal para ti.</p>
                    </div>
                </div>
            </div>
</div>

<!--inicio de Ventajas de nuestro productos-->

<div class="row">

    <!--Titulo-->
    <div class="row">
        <div class="col-12 text-center">
            <h2>VENTAJAS DE NUESTROS PRODUCTOS</h2>
        </div>
    </div>

    <!--Columna izquieda-->
    <div class="col-12 col-lg-4">
        <img src="../img/fondo1.png" alt="utilizando la plataforma" class="img-fluid" max-width=100% height=auto>
        <img src="../img/fondo2.png" alt="utilizando la plataforma" class="img-fluid" max-width=100% height=auto>
    </div>

    <!--Columna derecha-->

    <div class="col-12 col-lg-8 text-center">
        
<li>SEGURIDAD</li>
<p>Nuestra plataforma cumple con los estandares más altos de seguridad, por lo que prometo cuidar la información del
    cliente.</p>
<li>ASESORIA PERSONALIZADA</li>
<P>Nuestros asesores cuentan con más de 35 años de experiencia en productos fiancieros, por lo que nuestra asesoria es
    complematente persoanlizaada y especializada. </P>
<li>EXPERTOS 24/7</li>
<p>La asesoria es totalmente gratuita y promete acompañarte entodo el proceso, para contestar todas las inquietudes de
    los clientes.</p>
<li>TIEMPO RECORD</li>
<p>Sin importar el monto, sin importar donde estes, nuestros tiempos de respuesta son inmediatos.</p>
                </div>
            </div>
</div>


<!--INICIO NUESTOS PRODUCTOS-->
<div class="row">

    <!--Titulo-->
    <div class="row">
        <div class="col-12 text-center">
            <h2>NUESTROS PRODUCTOS</h2>
        </div>
    </div>

<!--IMAGEN-->

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/plataanimado.png" class="rounded mx-auto d-block w-50" alt="Plataforma apolo">
        </div>
        <div class="carousel-item">
            <img src="/IMG/manosanimado.png" class="rounded mx-auto d-block w-50" alt="Plataforma apolo">
        </div>
        <div class="carousel-item">
            <img src="/img/acuerdoanimado.png" class="rounded mx-auto d-block w-50" alt="Plataforma apolo">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<!--BOTONES-->
<div class="row-botones">
<div class="d-grid gap-2 col- 6 d-md-block">
    
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Arrendamiento</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Factoraje</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Lineas personales</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Lineas Revolventes</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Crédito Hipotecario</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Crédito simple</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Agroindustria</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Crédito puente</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Nomina</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Inversiones</a>
    <a href="../img/404error.png" class="btn btn-outline-primary" role="button">Telecomunicaciones</a>
</div>
</div>
</div>


<!--CONTACTO-->

<div class="row">

    <!--Columna izquieda-->
    <div class="col-12 col-lg-4">
        <img src="../img/fondo3.png" alt="llenado de formulario" class="img-fluid" max-width=100% height=auto>
    </div>

        <!--Columna derecha-->
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-6 col-sm-12 col-lg-12">
        
                    <form>
                        <legend>CONTACTO</legend>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">NOMBRE</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">EMAIL</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="tucorreo@correo.com">
                        </div>
                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">TELEFONO DE CONTACTO</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="xx-xxx-xxx">
                        </div>
        
                        <div class="mb-3">
                            <label for="disabledSelect" class="form-label">SELECCIONE UN PRODUCTO</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Tipos de productos</option>
                                <option value="1">Arrendamiento</option>
                                <option value="2">Factoraje</option>
                                <option value="3">PYME</option>
                                <option value="4">Lineas Personales</option>
                                <option value="5">Lineas Revolventes</option>
                                <option value="6">Crédito Hipotecario</option>
                                <option value="7">Crédito Simple</option>
                                <option value="8">Agroindustria</option>
                                <option value="9">Crédito Puente</option>
                                <option value="10">Nomina</option>
                                <option value="11">Inversiones</option>
                                <option value="12">Telecomunicaciones</option>
                            </select>
        
                            </select>
                        </div>
        
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label" for="disabledFieldsetCheck">
                                    Acepto Terminos y Condiciones
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        </div>


<!--INICIO DE FOOTER-->

<div class="row">

    <!--Titulo-->
    <div class="row">
        
    </div>
    <!--Columna izquieda-->
    <div class="col-12 col-lg-4">
        <img src="../img/logoapolo.png" alt="utilizando la plataforma" class="img-fluid2" width=30% height=auto>
        <h2>
            DATOS DE LA EMPRESA
        </h2>
        <p>
        APOLO Dx es una plataforma especializada en administración, acreditación y comercilización más completa del mercado.
        </p>
        <p>
        Otorgando al cliente seguirdad, control y especialización en créditos.
        </p>
    </div>

    <!--Columna derecha-->

    <div class="col-12 col-lg-8 text-center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14929.109763864728!2d-103.37028165!3d20.6989555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae3a55454671%3A0xa0746487dcb9b9d!2sGlorieta%20Col%C3%B3n!5e0!3m2!1ses!2smx!4v1653402663154!5m2!1ses!2smx"
            width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    </div>
</div>
    </main>

</body>

