<!doctype html>
<lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/logoapolo.png">
    <title>APOLO Dx </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--link referencia a estilo del menu-->
    <link rel="stylesheet" href="/scss/main.scss" />
</head>




    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/views/index.html">
                <img src="/img/logoapolo.png" alt="60" width="60" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/plataforma.html">Plataforma</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<main class="container">

<div class="col-12 col-lg-12 col-md-12 col-sm-12">
    <h1 class="card-title">NUESTRA HISTORIA</h1>
</div>

    <div class="fondodesocios">
        <img src="../img/nuestrahistoria.png" class="rounded mx-auto d-block" alt="socios de la empresa" width=70% height="100%">
    </div>

<!--NUESTROS SOCIOS-->


<div class="fondodesocios">
    <img src="../img/seapolo.png" class="rounded mx-auto d-block" alt="socios de la empresa" width=100%
        height="100%">
</div>

<!--CONTACTO-->

<div class="row">

    <!--Columna izquieda-->
    <div class="col-12 col-lg-4">
        <img src="../img/fondo3.png" alt="llenado de formulario" class="img-fluid" max-width=100% height=auto>
    </div>

    <!--Columna derecha-->
    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-6 col-sm-12 col-lg-12">
    
                <form>
                    <legend>CONTACTO</legend>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">NOMBRE</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">EMAIL</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="tucorreo@correo.com">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">TELEFONO DE CONTACTO</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="xx-xxx-xxx">
                    </div>
    
                    <div class="mb-3">
                        <label for="disabledSelect" class="form-label">SELECCIONE UN PRODUCTO</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tipos de productos</option>
                            <option value="1">Arrendamiento</option>
                            <option value="2">Factoraje</option>
                            <option value="3">PYME</option>
                            <option value="4">Lineas Personales</option>
                            <option value="5">Lineas Revolventes</option>
                            <option value="6">Crédito Hipotecario</option>
                            <option value="7">Crédito Simple</option>
                            <option value="8">Agroindustria</option>
                            <option value="9">Crédito Puente</option>
                            <option value="10">Nomina</option>
                            <option value="11">Inversiones</option>
                            <option value="12">Telecomunicaciones</option>
                        </select>
    
                        </select>
                    </div>
    
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="disabledFieldsetCheck">
                                Acepto Terminos y Condiciones
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>


<!--INICIO DE FOOTER-->

<div class="row">

    <!--Titulo-->
    <div class="row">

    </div>
    <!--Columna izquieda-->
    <div class="col-12 col-lg-4">
        <img src="../img/logoapolo.png" alt="utilizando la plataforma" class="img-fluid2" width=30% height=auto>
        <h2>
            DATOS DE LA EMPRESA
        </h2>
        <p>
            APOLO Dx es una plataforma especializada en administración, acreditación y comercilización más completa del
            mercado.
        </p>
        <p>
            Otorgando al cliente seguirdad, control y especialización en créditos.
        </p>
    </div>

    <!--Columna derecha-->

    <div class="col-12 col-lg-8 text-center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14929.109763864728!2d-103.37028165!3d20.6989555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae3a55454671%3A0xa0746487dcb9b9d!2sGlorieta%20Col%C3%B3n!5e0!3m2!1ses!2smx!4v1653402663154!5m2!1ses!2smx"
            width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </div>
</div>
</lang>
</main>
</body>