<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/logoapolo.png">
    <title>APOLO Dx </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--link referencia a estilo del menu-->
    <link rel="stylesheet" href="/scss/main.scss" />
</head>



<body>
    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/views/index.html">
                <img src="/img/logoapolo.png" alt="60" width="60" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/plataforma.html">Plataforma</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/views/contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--inicio de la pagina-->
    <main class="container">

        <img src="/img/personas2.jpg" class="rounded mx-auto d-block" alt="socios de la empresa" width=50%>

                <!--INICIO DE COMPARADOR-->
                
                <div class="row">
                    <div class="col-sm-3 col-lg-6 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Competencia</h5>
                                <li>Los montos del crédito son limitados.</li>
                                <li>Cada vez que quieres solicitar un nuevo crédito necesitas llevar de nuevo toda la información.</li>
                                <li>Tiempos de respuesta largos.</li>
                                <li>Solo manejan de 1 a 3 tipos de financiamientos.</li>
                                <li>Solo puedes cotizar a la vez con una sola fianciera.</li>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-6 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Nosotros</h5>
                                <li>Sin limites de montos.</li>
                                <li>Guardamos tu información por lo que solo será necesario actuulizarla en tu nuevo financiamiento.
                                </li>
                                <li>Tiempo de repuesta en tiempo record.</li>
                                <li>Manejamos más de 50 productos fiancieros.</li>
                                <li>Trabajamos con más de 50 fiancieras.</li>
                                <a href="Contacto.html" class="btn btn-primary">Contactar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--TIPOS DE CLIENTE-->
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">BROKER</h5>
                                <p class="card-text">Si tu tienes una cartera de clientes existentes pero solo ofreces un producto
                                    financiero o solo trabajas con una
                                    financiera, nosotros somos tu solución, ofrece a tus clientes más de 50 productos financieros
                                    dándoles un servicio 100%
                                    personalizado y digital. Genera una comisión por cada cliente que ingreses a tu plataforma. Sin
                                    inversión inicial.
                                    Empieza a ofrecer más a tus clientes y muestra una cara más profesional. Ofrecemos capacitaciones
                                    constantes,
                                    promociones únicas y asesoría 24/7 para ti y tus clientes.</p>
                                <a href="Contacto.html" class="btn btn-primary">Contactar</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">DISTRIBUIDOR</h5>
                                <p class="card-text">Si tu tienes una cartera de clientes existentes pero solo ofreces un producto
                                    financiero o solo trabajas con una
                                    financiera, nosotros somos tu solución, ofrece a tus clientes más de 50 productos financieros
                                    dándoles un servicio 100%
                                    personalizado y digital. Genera una comisión por cada cliente que ingreses a tu plataforma. Sin
                                    inversión inicial.
                                    Empieza a ofrecer más a tus clientes y muestra una cara más profesional. Ofrecemos capacitaciones
                                    constantes,
                                    promociones únicas y asesoría 24/7 para ti y tus clientes.
                
                                    Vende más a contado y ayuda a tu cliente a obtener de una manera rápida y sencilla el financiamiento
                                    para su maquinaria.</p>
                                <a href="Contacto.html" class="btn btn-primary">Contactar</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">FINANCIERA</h5>
                                <p class="card-text">Tenemos a tu cliente ideal, agenda una cita con nuestro equipo y cuéntanos cual es
                                    tu cliente perfecto, date de alta con
                                    nosotros para poder ofrecer tus crédito y promociones. Nuestro perfilador estará enviando
                                    constantemente clientes
                                    nuevos, clientes que se adapten a tus condiciones de crédito.
                
                                    Nuestra meta es conectar financieras, SOFOMES y bancos con clientes de diversos rubros.</p>
                                <a href="Contacto.html" class="btn btn-primary">Contactar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--CONTACTO-->
                
                <div class="row">
                
                    <!--Columna izquieda-->
                    <div class="col-12 col-lg-4">
                        <img src="../img/fondo3.png" alt="llenado de formulario" class="img-fluid" max-width=100% height=auto>
                    </div>
                
    <!--Columna derecha-->
    <div class="col-12 col-lg-8">
        <div class="row">
            <div class="col-6 col-sm-12 col-lg-12">
    
                <form>
                    <legend>CONTACTO</legend>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">NOMBRE</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">EMAIL</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="tucorreo@correo.com">
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">TELEFONO DE CONTACTO</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="xx-xxx-xxx">
                    </div>
    
                    <div class="mb-3">
                        <label for="disabledSelect" class="form-label">SELECCIONE UN PRODUCTO</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Tipos de productos</option>
                            <option value="1">Arrendamiento</option>
                            <option value="2">Factoraje</option>
                            <option value="3">PYME</option>
                            <option value="4">Lineas Personales</option>
                            <option value="5">Lineas Revolventes</option>
                            <option value="6">Crédito Hipotecario</option>
                            <option value="7">Crédito Simple</option>
                            <option value="8">Agroindustria</option>
                            <option value="9">Crédito Puente</option>
                            <option value="10">Nomina</option>
                            <option value="11">Inversiones</option>
                            <option value="12">Telecomunicaciones</option>
                        </select>
    
                        </select>
                    </div>
    
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label" for="disabledFieldsetCheck">
                                Acepto Terminos y Condiciones
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    </div>

                <!--INICIO DE FOOTER-->
                
                <div class="row">
                
                    <!--Titulo-->
                    <div class="row">
                
                    </div>
                    <!--Columna izquieda-->
                    <div class="col-12 col-lg-4">
                        <img src="../img/logoapolo.png" alt="utilizando la plataforma" class="img-fluid2" width=30% height=auto>
                        <h2>
                            DATOS DE LA EMPRESA
                        </h2>
                        <p>
                            APOLO Dx es una plataforma especializada en administración, acreditación y comercilización más completa del
                            mercado.
                        </p>
                        <p>
                            Otorgando al cliente seguirdad, control y especialización en créditos.
                        </p>
                    </div>
                
                    <!--Columna derecha-->
                
                    <div class="col-12 col-lg-8 text-center">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14929.109763864728!2d-103.37028165!3d20.6989555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ae3a55454671%3A0xa0746487dcb9b9d!2sGlorieta%20Col%C3%B3n!5e0!3m2!1ses!2smx!4v1653402663154!5m2!1ses!2smx"
                            width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                            crossorigin="anonymous"></script>
                    </div>
                </div>
                
                </main>
                
                </body>